.homepage-banner{
  background-size: 100% auto;
  background-image: url(../assets/homepage_bannerV2.png);
  background-repeat: no-repeat;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.navbar-glass {
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: rgba(35, 35, 35, 0.45);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.navbar-title-glass {
  font-size: 38px;
  font-weight: bold;
  padding-left: 10px;
  color: white;
}

.navbar-glass a:hover {
  color: rgb(210, 170, 90);
  text-decoration: none;
}

.navbar-glass button:hover {
  color: rgb(210, 170, 90);
  text-decoration: none;
}



.search-bar-main {
  margin-top: 25px;
  margin-bottom: 60px;
  width: 400px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgb(32, 32, 32);
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}


.homepage-desc{
  margin-top: 60px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 300;
}

.homepage-heavy-text{
  margin-top: 45px;
  margin-bottom: 25px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(64, 64, 64);
  font-size: 28px;
  font-weight: 600;
}

.recommended-container{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  height: 300px;

  width: 100%;
  text-align: left;
  border-radius: 5px;
}

.black-container{
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}

.recommended-desc{
  background-color: white;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(64, 64, 64);
  width: 100%;
  text-align: left;
}


.container-book {
  font-family: 'Roboto', sans-serif;
}
.image-container{
  position: relative;
  display:block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(210, 170, 90, 0.8);
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Modal style*/
.modal-chat{
  
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 350px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */

}




/* Notifications Style */

.dropbtn {
  background-color:transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  display: block;
  position: absolute;
 
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 1;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.75);
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown-content b {
  color: white;
  background-color: rgba(255, 192, 75, 0.9);
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}


.dropdown-content a:hover {background-color: rgb(80, 80, 80);}


/* Chat of Notifications Style */

.card {
  background: #fff;
  transition: .5s;
  border: 0;
  
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea
}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer
}

.people-list .chat-list li.active {
  background: #efefef
}

.people-list .chat-list li .name {
  font-size: 15px
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px
}

.people-list .status {
  color: #999;
  font-size: 13px
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff
}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 15px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 15px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .my-message {
  background: #efefef
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%
}

.chat .chat-message {
  padding: 20px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: rgb(135, 200, 65)
}

.offline {
  color: red
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
      height: 465px;
      width: 100%;
     
      background: #fff;
      left: -400px;
      display: none
  }
  .chat-app .people-list.open {
      left: 0
  }
  .chat-app .chat {
      margin: 0
  }
  .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0
  }
  .chat-app .chat-history {
      height: 300px;
      
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 650px;
     
  }
  .chat-app .chat-history {
      height: 600px;
     
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
      height: 480px;
    
  }
  .chat-app .chat-history {
      height: calc(100vh - 350px);
     
  }
}