body {
    background-color: rgb(242, 242, 242);
    padding-top: 0px;
    padding-bottom: 30px;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 13px 16px;
    overflow: hidden;
    background-color: rgb(35,35, 35);
  }

.navbar {
    padding-bottom: 6px;
    padding-top: 4px;
    background-color: rgb(35, 35, 35);
}

.navbar-title {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 5%;
    /*float: right;*/
}

.nav-right {
    text-align: right;
}

.navbar a:hover {
    color: red;
}

.navbar button:hover {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.search-bar {
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
    outline: none;
    padding: 10px 35px 10px 15px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

button img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}