body {
    background-color: rgb(242, 242, 242);
    padding-top: 0px;
    padding-bottom: 30px;
}

.navbar {
    padding-bottom: 6px;
    padding-top: 4px;
    background-color: rgb(35, 35, 35);
}

.navbar-title {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 5%;
    /*float: right;*/
}

.nav-right {
    text-align: right;
}

.navbar a:hover {
    color: red;
}

.navbar button:hover {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.search-bar {
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
    outline: none;
    padding: 10px 35px 10px 15px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

button img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.newTradeTitle {
    background-color: rgb(252, 199, 101);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
    border: none;
}

.image-placeholder {
    background-color: Silver;
    display: flex;
    height: 300px;
    margin: 5px;
    width: 300px;
}

.image-placeholder>h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.createTrade {
    margin-top: 30px;
    background-color: rgb(252, 199, 101);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: none;
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    outline: none;
    padding: 10px 35px 10px 15px;
}

.input-field-textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 125px;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    outline: none;
    padding: 10px 35px 10px 15px;
}

.radios{
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-right: 5px; 
}

.center-text {
    text-align: center;
}
