body{
    font-family: 'Roboto', sans-serif;
}



.background-gradient {
    background-image: url("../assets/profile_banner.png");
    width: 100%;
    height: 150px;
    padding-top: 60px;
  }

.white-strip{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-bottom: 2px  solid rgba(170, 180, 220,0.4);
}






