body {
  background-color: rgb(242, 242, 242);
  padding-top: 0px;
  padding-bottom: 30px;
}

.navbar {
  padding-bottom: 6px;
  padding-top: 4px;
  background-color: rgb(35, 35, 35);
}

.navbar-title {
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  font-size: 28px;
  font-weight: bold;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  position: relative;
  /* top: 5%; */
  /*float: right;*/
}

.nav-right {
  text-align: right;
}


.navbar a:hover {
  color: rgb(210, 170, 90);
  text-decoration: none;
}

.navbar button:hover {
  color: rgb(210, 170, 90);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.search-bar {
  width: 300px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.navbar-item-img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.search-bar-main {
  margin-top: 150px;
  width: 400px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}

.search-button-main {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}

.search-button-main img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.center-text {
  text-align: center;
}

/* MY TRADES CSS */

.trades {
  padding-top: 15px;
  font-size: 25px;
}

.trade {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-size: 16px;
}

.myTradesLeft {
  margin-top: 100px;
  font-size: 24px;
  text-decoration: underline;
}

.newTradeRight {
  float: right;
  background-color: rgb(252, 199, 101);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  border: none;
  color: black;
}

a.newTradeRight:hover {
  color: black;
}


.with {
  color: RoyalBlue;
}

.tradeId {
  color: RoyalBlue;
}

.tableColumns {
  margin-top: 20px;
  font-size: 18px;
}

/*NEW TRADE*/

.newTradeTitle {
  background-color: rgb(252, 199, 101);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 25px;
  border: none;
}

.image-placeholder-add-photo {
  background-color: Silver;
  display: flex;
  height: 300px;
  margin: 5px;
  width: 100%;
}

.image-placeholder-add-photo>h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

.createTrade {
  margin-top: 30px;
  background-color: rgb(252, 199, 101);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border: none;
}

.redTextFill {
  color: red;
  margin-top: 10px;
  text-align: center;
  display: none;
}

.input-field {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}

.input-field-textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 125px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}

.radios {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.center-text {
  text-align: center;
}

.selectGenre {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 0px 35px 0px 15px;
}

.bookBackCheckbox {
  margin-top: 3%;
  height: 25px;
  width: 30px;
}

.bookBackText {
  margin-right: 0%;
}

.banner-img {
  width: 100%;
  height: 380px;
  background-image: url("../assets/homepage_banner.png");
  text-align: center;
}

div.gallery {
  margin: 5px;
  /*border: 1px solid #ccc;*/
  float: left;
  width: 180px;
}

div.gallery:hover {
  /*border: 1px solid #777;*/
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.project-title {
  font-size: 70px;
}

.title-spacer {
  margin-top: 20px;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 350px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  color: grey;
  font-size: 22px;
  margin-top: 20px;
}

.modal-input {
  width: 80%;
  height: 40px;
  border: 1px solid gray;
  color: gray;
  border-radius: 50px;
  padding: 10px 35px 10px 15px;
}

.margin-modal {
  margin-top: 20px;
}

.modal-btn {
  background-color: #2b2b2b;
  border: 1px solid #2b2b2b;
  color: whitesmoke;
  padding: 15px 130px;
  border-radius: 10px;
}

.modal-href {
  color: gray;
  text-decoration: underline;
}

.modal-href:hover {
  color: darkgray;
  text-decoration: underline;
}

.homepage-title {
  padding-top: 15px;
  font-size: 25px;
}

.hr-recommended {
  width: 20%;
}

.carousel-circle {
  padding: 20px;
  border-bottom: 1px solid black;
}

/* SEARCH PAGE CSS */


.large-search-bar {
  margin-top: 4%;
  margin-bottom: 4%;
}

.search-result-element {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: white;
  color: rgb(35, 35, 35);
  font-size: 16;
}

.search-result-img {
  width: auto;
  height: 120px;
}

.bottom-border {
  border-bottom: 1px solid;
  border-color: rgb(165, 165, 165);
}

.rc-button {
  float: right;
  background-color: rgb(252, 199, 101);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  border: none;
  color: black;
}

/* TRADE DETAILS CSS */


.newTradeTitle {
  background-color: rgb(252, 199, 101);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 25px;
  border: none;
}

.image-placeholder {
  background-color: white;
  display: flex;
  height: 500px;
  margin: 5px;
  width: 100%;
  border-radius: 5px;
}

.image-placeholder>h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

.image-placeholder-perfil {
  background-color: white;
  margin: 5px;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}

.image-placeholder-desc {
  margin-top: 30px;
  background-color: white;
  height: 300px;

  width: 100%;
  text-align: left;
  border-radius: 5px;
}

.image-placeholder-loc {
  margin-top: 30px;
  background-color: white;
  height: 300px;

  width: 100%;
  border-radius: 5px;
}

.image-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 90%;
}


.image-perfil {
  margin-top: 10%;
  margin-left: 10%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.title {
  font-size: 30px;
  margin-left: 10%;
  text-align: left;
  width: 100%;
}

.title-book-name {
  font-size: 30px;
  text-align: left;
  width: 100%;
}

.small-word {
  color: Gray;
  margin-left: 10%;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.underline {
  text-decoration: underline;
  margin-left: 10%;
  text-align: left;
  width: 100%;
}

.send-request {

  background-color: rgb(252, 199, 101);
  width: 90%;
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.bull-point {
  list-style-type: square;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 20px;
}

.average {
  font-size: 20px;
  margin-left: 10%;
  text-align: left;
  width: 100%;
}

.average-description {
  font-size: 16px;
  text-align: left;
  width: 100%;
}

p {
  font-family: Verdana;
}


/* PROFILE PAGE CSS */

.background-gradient {
  background-image: url("../assets/profile_banner.png");
  width: 100%;
  height: 375px;
  padding-top: 60px;
}

.profile-img {
  border-radius: 50%;
  border: 2px solid #000;
}

.profile-name {
  color: white;
  font-size: 30px;
}

.profile-job {
  font-size: 15px;
}

.profile-location {
  color: #6d93cb;
  font-size: 23px;
}

.profile-likes {
  color: white;
  font-size: 20px;
}

.space-top {
  margin-top: 20px;
}

.profile-description {
  color: white;
  font-size: 15px;
  line-height: 20px;
}

.profile-rating {
  color: #6d93cb;
  font-size: 22px;
}

.white-rec {
  background-color: #d3d1d1;
  width: 100%;
  /*height: 300px;*/
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.negative-space-top {
  margin-top: -25px;
}

.box-title {
  color: #585858;
  font-size: 25px;
}

.box-text {
  color: #6e6e6e;
  font-size: 18px;
}

.profile-contacts {
  color: #6d93cb;
}


/*LIKES MODAL CSS*/

.hidden-checkbox {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.hidden-checkbox+label {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  color: #000;
  display: inline-block;
  /* or block */
  line-height: normal;
  cursor: pointer;
  padding: 6px 20px;
  background-color: #EFEFEF;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
}

.hidden-checkbox:checked+label {
  border-color: #000;
  background-color: rgb(252, 199, 101);
  color: #000;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #04AA6D;
  color: white;
  margin-bottom: 0;
  border-radius: 0;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: red;
}

.report-text {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 250px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  padding: 10px 35px 10px 15px;
}

.hover-name:hover {
  color: rgb(210, 170, 90);
}